---
  version: '3.5'

  x-config:
    &default-config
    ports:
      - "443:8443"
    secrets:
      - source: tomcat_ssl_crt
        target: /home/spring/tomcat-wildcard-ssl.crt
      - source: tomcat_ssl_key
        target: /home/spring/tomcat-wildcard-ssl.key
    env_file:
      - config.env
      - secrets.env

  secrets:
    tomcat_ssl_crt:
      file: ./certificates/tomcat/tomcat-wildcard-dev.crt
    tomcat_ssl_key:
      file: ./certificates/tomcat/tomcat-wildcard-dev.key

  services:
    8-jre-slim:
      build:
        context: .
        args:
          OPENJDK_TAG: '8-jre-slim'
      image: wma-spring-boot-base:8-jre-slim-latest
      environment: 
        - JAVA_OPTIONS=-Xmx300M -server -Djava.security.egd=file:/dev/./urandom -Djavax.net.ssl.trustStore=$${JAVA_TRUSTSTORE} -Djavax.net.ssl.trustStorePassword=$${JAVA_TRUSTSTORE_PASS}
      << : *default-config

    10-jre-slim:
      build:
        context: .
        args:
          OPENJDK_TAG: '10-jre-slim'
      image: wma-spring-boot-base:10-jre-slim-latest
      environment: 
        - JAVA_OPTIONS=-Xmx300M -server -Djava.security.egd=file:/dev/./urandom
      << : *default-config

    latest:
      build:
        context: .
        args:
          OPENJDK_TAG: '8-jre-slim'
      image: wma-spring-boot-base:latest
      environment: 
        - JAVA_OPTIONS=-Xmx300M -server -Djava.security.egd=file:/dev/./urandom -Djavax.net.ssl.trustStore=$${JAVA_TRUSTSTORE} -Djavax.net.ssl.trustStorePassword=$${JAVA_TRUSTSTORE_PASS}
      << : *default-config
